@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* === GENERAL UTILITIES === */
.pageNo {
  position: absolute;
  left: 40px;
  display: flex;
  flex-direction: column;
}
#verticle-line {
  font-size: 30px;
}
.notactive-page {
  color: rgb(156, 156, 156);
}
.next {
  text-align: center;
  padding: 30px 0px;
}
.next a {
  text-decoration: none;
}
.next p {
  color: black;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url(https://design2seo.com/assets/blog/svg-clipping/home_intro_bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.hero-section {
  min-height: 600px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  z-index: 2;
  width: 100%;
  position: relative;
}

nav .menuBar img {
  width: 40px;
}
.fullscreen-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(255, 255, 255, 0.292);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease;
  z-index: 1000;
}

.fullscreen-menu.open {
  opacity: 1;
  pointer-events: auto;
}

.fullscreen-menu a {
  text-decoration: none;
  font-size: 2rem;
  margin: 15px 0;
  color: #000;
}

.close-btn {
  position: absolute;
  top: 40px;
  right: 45px;
  font-size: 2rem;
  cursor: pointer;
  transition: opacity 1s ease;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 450px;
  width: 80%;
  position: relative;
}
.vector {
  width: 25%;
  height: 100%;
}
.hero .vector svg {
  width: 200px;
}
.hero-content {
  width: 25%;
}
.hero-content h4 {
  font-size: 15px;
  color: grey;
  font-weight: 400;
}
.hero-content h1 {
  font-size: 40px;
  margin-top: 10px;
}
.hero-content p {
  margin-top: 10px;
}
.language p {
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.scroll {
  width: 100%;
  text-align: center;
}

.wrapper {
  width: 50%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-content-mobile {
  display: none;
}
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.clipped-video {
  -webkit-clip-path: url(#text-overlay);
  clip-path: url(#text-overlay);
}

header svg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

text {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 35vw;
  text-anchor: middle;
  dominant-baseline: middle;
}
header h2 {
  position: absolute;
  bottom: 50px;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 2px;
  color: #022b3a;
}

@media (max-width: 1130px) {
  .hero .vector {
    display: none;
  }
  .hero-content {
    width: 50%;
  }
}

@media (max-width: 900px) {
  .hero-content {
    width: 50%;
  }
  text {
    font-size: 40vw;
  }
}

@media (max-width: 768px) {
  .hero-content {
    display: none;
  }
  .hero-content-mobile h4 {
    font-size: 15px;
    color: grey;
    font-weight: 400;
  }
  .hero-content-mobile h1 {
    font-size: 40px;
    margin-top: 10px;
  }
  .hero-content-mobile p {
    margin-top: 10px;
  }
  .hero-content-mobile {
    display: block;
    padding: 40px;
  }
}

@media (max-width: 576px) {
  .hero-content-mobile h4 {
    font-size: 15px;
  }
  .hero-content-mobile h1 {
    font-size: 25px;
  }
  .hero-content-mobile {
    display: block;
    padding: 40px;
  }
}
